{% extends "::base.html.twig" %}
{% block body %}

    <h4 class="page-header">
        This is simple form example symfony 2
    </h4>

    <div class="row">
        <div class="col-md-4">
            <!-- Info box -->
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Very Basic example</h3>
                    <div class="box-tools pull-right">
                        <div class="label bg-aqua">Basic From Example</div>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div>

        <div class="col-md-4">
            <!-- Info box -->
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Build Form From Form Class</h3>
                    <div class="box-tools pull-right">
                        <div class="label bg-aqua"></div>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_start(formType) }}
                    {{ form_widget(formType) }}
                    {{ form_end(formType) }}
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div>





    </div>

{% endblock body %}
