<ul class="sidebar-menu">
    <li class="header"> MAIN MENU
    </li>    
    <li class="treeview">
        <a href="#">
            <i class="fa fa-server"></i>
            <span>System Management</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('user_index') }}"><i class="fa fa-users"></i> Users</a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-user-plus"></i> Roles</a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-bars"></i>  Menu</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-exchange"></i>
            <span>Data Reference</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('user_index') }}"><i class="fa fa-flag"></i> Language</a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-street-view"></i> Address </a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-circle-o"></i> Timezone </a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Settings</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> Genereal Setting</a></li>
            <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> Themes</a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-wrench"></i>
            <span>Tools</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> Cache</a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-database"></i> Database Backup </a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-tasks"></i> System Monitoring </a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-download"></i> Export Data</a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-upload"></i> Import Data </a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-archive"></i> Modules</a></li>
            <li><a href="{{ path('role_index') }}"><i class="fa fa-archive"></i> SEO Optimazion </a></li>

        </ul>
    </li>

</ul>